{% extends "base.html" %}
{% block title %}Edit post{% endblock %}
{% block content %}
<h1 class="display-1">Edit feedback</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group mb-3">
        {{field.label}}
        {{field(class_="form-control")}}
        {% for err in field.errors %}
        <small class="form-text text-danger">
            {{err}}
        </small>
        {% endfor %}
    </div>
    {% endfor %}
    <button class="btn  btn-success">Post</button>
</form>
{% endblock %}