{% extends "base.html" %}
{% block title %}Register A User!{% endblock %}
{% block content %}
<h1 class="display-1">Sign Up</h1>
<p class="lead">Register below! Already have an account? <a href="/login">Log in here</a></p>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group mb-3">
        {{field.label}}
        {{field(class_="form-control")}}
        {% for err in field.errors %}
        <small class="form-text text-danger">
            {{err}}
        </small>
        {% endfor %}
    </div>
    {% endfor %}
    <button class="btn  btn-success">Register</button>
</form>
{% endblock %}